java-engine/src/**/*.java linguist-language=Java
java-engine/src/**/*.java linguist-detectable=true
java-engine/src/**/*.java linguist-vendored=false

package-lock.json linguist-generated=true
client/package-lock.json linguist-generated=true
